.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.icon {
  height: 1.2rem;
  width: 1.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.text {
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .container {
    gap: 0.3rem;
    font-size: 1rem;
  }
}
