.container {
  width: 100%;
  text-align: center;
  background-color: rgb(240, 235, 235);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small {
  max-width: 400px;
  width: 100%;
  padding: 15px;
}

.medium {
  max-width: 650px;
  width: 100%;
  padding: 20px;
}

.large {
  max-width: 900px;
  width: 100%;
  padding: 30px;
}

@media (max-width: 640px) {
  .small {
    max-width: 90%;
    padding: 10px;
  }

  .medium {
    max-width: 95%;
    padding: 15px;
  }

  .large {
    max-width: 95%;
    padding: 20px;
  }
}
