.submitButton {
  padding: 0.5rem 1rem;
  background-color: #7d5032;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.submitButton:hover {
  background-color: #5e3e28;
}
