.formGroup {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.formLabel {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #3b2b23;
  font-size: 0.875rem;
  text-align: left;
  transition: color 0.2s ease;
}

.formLabel:hover {
  color: #7d5032;
}

.formInput {
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid #a89d94;
  background-color: #fffaf7;
  font-size: 0.875rem;
  transition:
    border 0.2s ease,
    background-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

.formInput:focus {
  border-color: #7d5032;
  outline: none;
  background-color: #fffaf7;
}

.formInput.errorInput {
  border-color: darkred;
  background-color: #ffebee;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
  width: 100%;
}

.formMessagesWrapper {
  overflow: hidden;
  transition:
    max-height 0.35s ease,
    opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  margin-top: 0.25rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formMessagesWrapper.active {
  max-height: 200px;
  opacity: 1;
}
.registerLink {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.75rem;
  color: #3b2b23;
}

.link {
  color: #7d5032;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  color: #5e3e28;
}
