.authPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
}

.languageBtnWrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.authContentWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

.authCard {
  flex-direction: row;
  padding: 0.75rem;
  max-width: 900px;
  width: fit-content;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
}

@media (max-width: 768px) {
  .authCard {
    flex-direction: column;
    max-width: 450px;
    padding: 0;
  }
}
