.formGroup {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #3b2b23;
  font-size: 0.875rem;
  text-align: left;
  transition: color 0.2s ease;
}

.label:hover {
  color: #7d5032;
}

.input {
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid #a89d94;
  background-color: #fffaf7;
  font-size: 0.875rem;
  transition:
    border 0.2s ease,
    background-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

.input:focus {
  border-color: #7d5032;
  outline: none;
  background-color: #fffaf7;
}

.inputError {
  border-color: darkred;
  background-color: #ffebee;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
  width: 100%;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #7d5032;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.button:hover {
  background-color: #5e3e28;
}

.formMessagesWrapper {
  overflow: hidden;
  transition:
    max-height 0.35s ease,
    opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  margin-top: 0.25rem;
}

.formMessagesWrapper.active {
  max-height: 200px;
  opacity: 1;
}

@media (max-width: 640px) {
  .label,
  .input,
  .button {
    font-size: 0.75rem;
  }

  .button {
    padding-bottom: 0.65rem;
  }
}

@media (max-width: 480px) {
  .label,
  .input,
  .button {
    font-size: 0.95rem;
    padding-bottom: 0.65rem;
  }
}
