.filtersContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 10px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.selectWrapper {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.select {
  appearance: none;
  padding: 6px 12px;
  border-radius: 6px;
  border: 2px solid #7d5032;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  box-sizing: border-box;
  flex: 1 1 0;
  max-width: none;
  min-width: 0;
}

.select:hover {
  transform: translateY(-1px);
}

.select option {
  padding: 5px;
}

@media (max-width: 768px) {
  .filtersContainer {
    flex-wrap: wrap;
  }

  .select {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .select {
    flex: 1 1 0;
    max-width: none;
  }

  .selectWrapper {
    gap: 0.3rem;
  }
}
