.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tasksHeader {
  font-size: 1.1rem;
  font-weight: 600;
}
