.taskModalTitle {
  margin-bottom: 1.2rem;
}

.taskModalHidden {
  margin-bottom: 0.5rem;
}

.taskModal input[type="date"] {
  margin-bottom: 2rem;
}

.taskWrapper {
  display: flex;
  gap: 2rem;
  min-height: 15vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  box-sizing: border-box;
  width: 100%;
}

.taskBlock {
  width: 100%;
}

@media (max-width: 460px) {
  .taskWrapper {
    min-height: 7vh;
    gap: 1rem;
  }
}
