.bossStats {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.bossName {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4d2c20;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statBlock {
  background-color: #e8dfd8;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgba(80, 50, 40, 0.1);
}

.statText {
  font-size: 1rem;
  color: #3b2b23;
  display: block;
  margin-bottom: 0.3rem;
}

.progressBar {
  width: 100%;
  height: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.health {
  background-color: #ff4d4d;
}

.rage {
  background-color: #ff9800;
}

@media (max-width: 480px) {
  .bossName {
    font-size: 1.2rem;
  }

  .statText {
    font-size: 0.9rem;
  }

  .progressBar {
    height: 0.8rem;
  }
}
