.registrationPage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
}

.languageBtnWrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.registrationContentWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.registrationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0.75rem;
  box-shadow: 0 0 15px rgba(80, 50, 40, 0.1);
  border-radius: 0.75rem;
  background-color: #fff;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .registrationContainer {
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    margin-top: 2rem;
  }

  .registrationContentWrapper {
    padding: 0.75rem;
  }
}

@media (max-width: 400px) {
  .registrationContainer {
    width: 100%;
    padding: 0;
  }

  .registrationContentWrapper {
    padding: 0.5rem;
  }
}
